<div class="container">
  <div class="row">
    <div class="offset-lg-2 col-lg-8">
      <%= render partial: 'leader' %>
      <%= render partial: 'rsvp_nav', locals: { active: 3 } %>

      <h2>Confirmação</h2>

      <%= form_with(model: @guest, url: complete_guest_path(@guest), local: true) do |form| %>
      <div class="row">
        <div class="col-md-12">
          <%= errors_for(@guest) %>
        </div>
      </div>

      <% if @guest.attending? %>
      <h3>Detalhes</h3>
      <div class="card mb-3">
        <h5 class="card-header"><%= @guest.name %></h5>
        <div class="card-body">
          <div class="row">
            <div class="col-md-4">
              Email
            </div>
            <div class="col-md-8">
              <p><tt><%= @guest.email %></tt></p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              Preferências de Dieta
            </div>
            <div class="col-md-8">
              <% if @guest.diet.present? %>
                <pre><%= @guest.diet %></pre>
              <% else %>
                <p>(Nenhuma)</p>
              <% end %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              Sugestões de Músicas
            </div>
            <div class="col-md-8">
              <% if @guest.songs.present? %>
                <pre><%= @guest.songs %></pre>
              <% else %>
                <p>(Nenhuma)</p>
              <% end %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 text-right">
              <%= link_to 'Editar', guest_path(@guest), class: 'card-link', data: { disable_with: 'Loading...' } %>
            </div>
          </div>
        </div>
      </div>

      <h3>Acompanhantes</h3>
      <% if @guest.plus_ones.any? %>
        <%= render @guest.plus_ones %>
      <% else %>
        <p>(Nenhum &mdash; só você.)</p>
      <% end %>
      <% else %>
      <p>Lamentamos que você não possa vir!</p>
      <h3>Detalhes</h3>
      <div class="card mb-3">
        <h5 class="card-header"><%= @guest.name %></h5>
        <div class="card-body">
          <div class="row">
            <div class="col-md-4">
              Email
            </div>
            <div class="col-md-8">
              <p><tt><%= @guest.email %></tt></p>
            </div>
          </div>
        </div>
      </div>
      <% end %>

      <h3>Outros comentários?</h3>

      <%= form.text_area :notes, class: 'form-control' %>
      <small class="form-text text-muted">Mais alguma coisa que você queira que saibamos?</small>

      <div class="row guests-buttons">
        <div class="offset-md-3 col-md-6 text-center">
          <%= form.submit 'Completar confirmação de presença', class: 'btn btn-primary', data: { disable_with: 'Enviando...' } %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
