<p><%= @guest.email_safe_salutation %></p>

<p>Recentemente você enviou seu email na confirmação de presença em <%= ENV['CANONICAL_HOST'] %>.</p>

<p>Se você quiser ver ou atualizar sua confirmação de presença, clique no link abaixo:</p>
<p><%= link_to guest_url(@guest), guest_url(@guest) %></p>

<p>Se tiver alguma dúvida verifique nosso <%= link_to 'site', root_url %> para mais informações, ou responda a este email.</p>.</p>

<p>&nbsp;</p>
<p><%= t :wedding_couple_names %></p>
