<section id="welcome-index-venue-leader" class="jumbotron text-center">
  <div class="container">
    <h1>Presentes</h1>
  </div>
</section>
<section id="welcome-index-venue">
  <div class="container">
    <p><strong>
     Queridos amigos e familiares,</strong> <br>
      Estamos emocionados em compartilhar com vocês o momento mais especial de nossas vidas: o nosso casamento!
      Como muitos de vocês sabem, estamos embarcando nesta jornada de amor e compromisso, e estamos ansiosos para celebrar este dia único e significativo ao lado de pessoas tão queridas como vocês. <br>
      Diante deste momento tão especial, gostaríamos de compartilhar nossa lista de presentes de casamento de uma maneira moderna e conveniente. 
      <strong>Optamos por oferecer a opção de presentes via PIX logo abaixo,</strong>
      proporcionando uma forma prática e segura para vocês nos presentearem.
    </p>
    <hr>
    <div class="row">
      <div class="offset-lg-2 col-lg-8">
        <%= form_with url: process_payment_path, method: :post, id: 'form-checkout' do |f| %>
          <div class="form-group row">
            <div class="col-md-3">
              <%= f.label :payment_first_name, 'Nome', class: 'col-form-label' %>
            </div>
            <div class="col-md-9">
              <%= f.text_field :payment_first_name, id: "form-checkout__payerFirstName", class: 'form-control', placeholder:'Digite seu nome' %>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-3">
              <%= f.label :payment_last_name, 'Sobrenome', class: 'col-form-label' %>
            </div>
            <div class="col-md-9">
              <%= f.text_field :payment_last_name, id: "form-checkout__payerLastName", class: 'form-control', placeholder:'Digite seu sobrenome' %>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-3">
              <%= f.label :email, 'Email', class: 'col-form-label' %>
              <span class="wedding-required">*</span>
            </div>
            <div class="col-md-9">
              <%= f.email_field :email, id: "form-checkout__email", class: 'form-control',  placeholder:'Digite seu email' %>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-3">
              <%= f.label :identification_type, 'CPF', class: 'col-form-label' %>
              <span class="wedding-required">*</span>
            </div>
              <%= f.hidden_field :identification_type, value: 'CPF' %>
            
            <div class="col-md-9">
              <%= f.text_field :identification_number, id: "form-checkout__identificationNumber", class: 'form-control', placeholder: 'Digite seu CPF' %>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-3">
              <%= f.label :amount, 'Valor', class: 'col-form-label' %>
              <span class="wedding-required">*</span>
            </div>
            <div class="col-md-9">
              <%= select_tag :amount, options_for_select([['R$ 150,00', 150], ['R$ 200,00', 200], ['R$ 250,00', 250], ['R$ 300,00', 300], ['R$ 500,00', 500], ['R$ 1.000,00', 1000]]), {id: "form-checkout__amount", class: 'form-control', placeholder:'Digite o valor'} %>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-3">
              <%= f.label :description, 'Escreva uma mensagem para nós', class: 'col-form-label' %>
            </div>
            <div class="col-md-9">
              <%= f.text_area :description, id: "form-checkout__description", class: 'form-control' %>
            </div>
          </div>
          <br/>
          <div class="form-group row">
            <div class="col-md-12 text-center">
              <%= f.submit 'Gerar QR Code', class: 'btn btn-primary', id: 'submit-form', data: { disable_with: 'Enviando...' } %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
