<div class="card mb-3">
  <h5 class="card-header"><%= plus_one.name %></h5>
  <div class="card-body">
    <div class="row">
      <div class="col-md-4">
        Preferências de Dieta
      </div>
      <div class="col-md-8">
        <% if plus_one.diet.present? %>
          <pre><%= plus_one.diet %></pre>
        <% else %>
          <p>(Nenhuma)</p>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        Criança
      </div>
      <div class="col-md-8">
        <p><%= plus_one.child ? 'Sim' : 'Não' %></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-right">
        <%= link_to 'Editar', edit_guest_plus_one_path(plus_one.guest, plus_one), class: 'card-link', data: { disable_with: 'Carregando...' } %>
        <%= link_to 'Remover', guest_plus_one_path(plus_one.guest, plus_one), method: :delete, class: 'card-link', data: { disable_with: 'Removendo...', confirm: 'Tem certeza?' } %>
      </div>
    </div>
  </div>
</div>
