<!DOCTYPE html>
<html>
  <head>
    <title><%= t :wedding_name %></title>
    <%= csrf_meta_tags %>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex, nofollow">
  </head>

  <body>
    <% flash.each do |key, value| %>
      <%= content_tag(:div, class: flash_class(key)) do -%>
        <%= value %>
      <% end -%>
    <% end %>
    <%= yield %>
    <script src="https://sdk.mercadopago.com/js/v2"></script>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
